body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000000;
}

.breaking-news-title {
    font-size: 48px;
    line-height: 60px;
    color: #FF8400;
}

.view-info-text {
    font-size: 24px;
    color: #666666;
}

.view-info-count {
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
}

.view-icon {
    height: 36px;
}

.info-subtitle {
    font-size: 30px;
    font-weight: 600;
    color: #999999;
}

.info-text {
    font-size: 30px;
    line-height: 48px;
    color: #ffffff;
}

.img-info-wrapper {
    position: relative;
}

.info-icon-wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    left: 10px;
    bottom: 10px;
}

.widget-title {
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
}

.info-widget-subtitle {
    font-size: 30px;
    color: #999999;
}

.info-subtitle.active {
    color: #FF8400;
}

.widget-info-wrapper {
    background-color: #1A1A1A;
    border: 1px solid #333333;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1720px;
    }
}
